  		<style>
			td {
				bgcolor:#ff6600;
			}
			table {
			border:0 padding:0 border-spacing:0; 			}
			}
			img {
				height: 100px;
				width: 100px;
			}

		</style>
           <center><h1 style="color:#ff6600">NEWS</h1>
        <center><table id="hnmain" width="85%" bgcolor="#f6f6ef">
        <tr><td bgcolor="#ff6600">
        	<table width="100%" style="padding:2px">
        		<tr><td style="width:18px;padding-right:4px"><a href="https://news.ycombinator.com"><img src="y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
                  <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="news">Hacker News</a></b>
              <a href="newest">new</a> | <a href="newcomments">comments</a> | <a href="show">show</a> | <a href="ask">ask</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>            </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop">
                              <a href="login?goto=news">login</a>
                          </span></td>
              </tr></table></td></tr>

		<tr style="height:10px"></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tr class='athing' id='16765020'>
      <td align="right" valign="top" class="title"><span class="rank">1.<%= image_tag("1.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16765020' href='vote?id=16765020&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://anderspitman.net/2018/04/04/static-react-rust-webapp/" class="storylink">Making a Statically-Linked, Single-File Web App with React and Rust</a><span class="sitebit comhead"> (<a href="from?site=anderspitman.net"><span class="sitestr">anderspitman.net</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16765969'>
      <td align="right" valign="top" class="title"><span class="rank">2.<%= image_tag("2.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16765969' href='vote?id=16765969&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://www.johndcook.com/blog/2018/04/05/solar-system-on-log-scale/" class="storylink">Planets evenly spaced on log scale</a><span class="sitebit comhead"> (<a href="from?site=johndcook.com"><span class="sitestr">johndcook.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16764039'>
      <td align="right" valign="top" class="title"><span class="rank">3.<%= image_tag("3.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16764039' href='vote?id=16764039&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://theconversation.com/how-kids-in-a-low-income-country-use-laptops-lessons-from-madagascar-93305" class="storylink">How kids in a low-income country use laptops: lessons from Madagascar</a><span class="sitebit comhead"> (<a href="from?site=theconversation.com"><span class="sitestr">theconversation.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16765740'>
      <td align="right" valign="top" class="title"><span class="rank">4.<%= image_tag("4.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16765740' href='vote?id=16765740&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://anniecherkaev.com/the-secret-life-of-nan" class="storylink">The secret life of NaN</a><span class="sitebit comhead"> (<a href="from?site=anniecherkaev.com"><span class="sitestr">anniecherkaev.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16764749'>
      <td align="right" valign="top" class="title"><span class="rank">5.<%= image_tag("5.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16764749' href='vote?id=16764749&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://techcrunch.com/2018/04/05/cometml-wants-to-do-for-machine-learning-what-github-did-for-code/" class="storylink">CometML wants to do for machine learning what GitHub did for code</a><span class="sitebit comhead"> (<a href="from?site=techcrunch.com"><span class="sitestr">techcrunch.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16766129'>
      <td align="right" valign="top" class="title"><span class="rank">6.<%= image_tag("6.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16766129' href='vote?id=16766129&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://techcrunch.com/2018/04/05/apples-2019-imac-pro-will-be-shaped-by-workflows/" class="storylink">Yes, Mac Pro is coming in 2019</a><span class="sitebit comhead"> (<a href="from?site=techcrunch.com"><span class="sitestr">techcrunch.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16764236'>
      <td align="right" valign="top" class="title"><span class="rank">7.<%= image_tag("7.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16764236' href='vote?id=16764236&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://www.bloombergquint.com/business/2018/04/05/rbi-bans-regulated-entities-from-dealing-with-virtual-currencies" class="storylink">India's central bank bans all cryptocurrency dealings</a><span class="sitebit comhead"> (<a href="from?site=bloombergquint.com"><span class="sitestr">bloombergquint.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16764743'>
      <td align="right" valign="top" class="title"><span class="rank">8.<%= image_tag("8.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16764743' href='vote?id=16764743&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://github.com/freach/kubernetes-security-best-practice" class="storylink">Show HN: Kubernetes Security – Best Practice Guide</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16764716'>
      <td align="right" valign="top" class="title"><span class="rank">9.<%= image_tag("9.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16764716' href='vote?id=16764716&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://www.eff.org/deeplinks/2018/04/fbi-could-have-gotten-san-bernardino-shooters-iphone-leadership-didnt-say" class="storylink">The FBI could have broken into San Bernadino shooter's phone without Apple</a><span class="sitebit comhead"> (<a href="from?site=eff.org"><span class="sitestr">eff.org</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16761602'>
      <td align="right" valign="top" class="title"><span class="rank">10.<%= image_tag("10.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16761602' href='vote?id=16761602&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="http://abc7news.com/automotive/i-team-exclusive-tesla-crash-in-september-showed-similarities-to-fatal-mountain-view-accident/3302389/" class="storylink">Tesla crash in September showed similarities to fatal Mountain View accident</a><span class="sitebit comhead"> (<a href="from?site=abc7news.com"><span class="sitestr">abc7news.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16763677'>
      <td align="right" valign="top" class="title"><span class="rank">11.<%= image_tag("11.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16763677' href='vote?id=16763677&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://www.jsonstore.io/" class="storylink">Jsonstore.io – Store your data for free without even signing up</a><span class="sitebit comhead"> (<a href="from?site=jsonstore.io"><span class="sitestr">jsonstore.io</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16761871'>
      <td align="right" valign="top" class="title"><span class="rank">12.<%= image_tag("12.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16761871' href='vote?id=16761871&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://www.newyorker.com/magazine/2018/03/26/why-jewish-history-is-so-hard-to-write" class="storylink">Why Jewish History Is So Hard to Write</a><span class="sitebit comhead"> (<a href="from?site=newyorker.com"><span class="sitestr">newyorker.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16761349'>
      <td align="right" valign="top" class="title"><span class="rank">13.<%= image_tag("13.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16761349' href='vote?id=16761349&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="http://www.tampabay.com/projects/2018/features/baby-diaper-cost/" class="storylink">Why are diapers so expensive?</a><span class="sitebit comhead"> (<a href="from?site=tampabay.com"><span class="sitestr">tampabay.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16761827'>
      <td align="right" valign="top" class="title"><span class="rank">14.<%= image_tag("14.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16761827' href='vote?id=16761827&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://mjg59.dreamwidth.org/50577.html" class="storylink">Linux Kernel Lockdown and UEFI Secure Boot</a><span class="sitebit comhead"> (<a href="from?site=mjg59.dreamwidth.org"><span class="sitestr">mjg59.dreamwidth.org</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='16763682'>
      <td align="right" valign="top" class="title"><span class="rank">15.<%= image_tag("15.png", :alt => "rss feed", size: "100x100")%></span></td>      <td valign="top" class="votelinks"><center><a id='up_16763682' href='vote?id=16763682&amp;how=up&amp;goto=news'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://www.tedinski.com/2018/04/03/why-containers.html" class="storylink">How did we end up with containers?</a><span class="sitebit comhead"> (<a href="from?site=tedinski.com"><span class="sitestr">tedinski.com</span></a>)</span></td></tr><tr><td colspan="2"></td></tr>

      <tr class="spacer" style="height:5px"></tr>
            <tr class="morespace" style="height:10px"></tr><tr><td colspan="2"></td><td class="title"></td></tr>
  </table>
</td></tr>
<tr><td><img src="s.gif" height="10" width="0"><table width="100%" cellspacing="0" cellpadding="1"><tr><td bgcolor="#ff6600"></td></tr></table><br><center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="lists">Lists</a>
        | <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
          <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
            </center></td></tr>
      </table></center></body><script type='text/javascript' src='hn.js?Ndf01ldX952Y5slfKDkB'></script>
  </html>
